* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    border: border-box;
    text-decoration: none;
    list-style: none;;
}
.x-icon {
    border-radius: 2px;
}
.navbar {
    height: 60px;
    background-color: #131921;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.nav-logo {
    height: 50px;
    width: 113px;
    padding: 1px 8px 0px 6px;
}

.logo {
    height: 50px;
    width: 100%;
    background-size: contain;
    background-image: url("icons/Amazon_logo.png");
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}


/* box2 */
.nav-address {
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}
.deliver-to {
    font-size: 0.75rem;
    color: #ccc;
    margin-left: 15px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.country-name {
    font-size: 0.85rem;
    margin: 3px;    
}


/* Categories, search input, search icon */
.nav-searchbox {
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.nav-searchbox:hover, .nav-searchbox:active {
    border: 2px solid orange;

}


.search-category {
    background-color: #e6e6e6;
    color: #0F1111;
    border-radius: 5px 0 0px 5px;
    height: 40px;
    width: 50px;
    border: none;
    text-align: left;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    
}

.input-searchbox {
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}



.search-icon {
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    display: flex;
    width: 45px;
    background-color: #febd68;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #0F1111;
} 


/* User account box & order and returns */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Cart box */
.nav-cart i{
    flex-direction: ro;
    font-size: 33px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.items-count {
    padding-left: 16px;
    font-size: medium;
    color: orange;

}



/* Panel below navigation bar */
.panel {
    height: 39px;
    background-color: #232f3e;
    display: flex;
    color: #ffffff;
    align-items: center;
    padding-left: 11px;
}

.panel-all {
    font-size: 0.9rem;
    padding: 8px 9px;
    font-weight: 700;
}

.icon-label {
    font-size: 0.9rem;

}

.panel-options p {
    font-size: 0.85rem;
    display: inline;
    margin: 5px 0 6px;
    border: none;
    padding: 8px 9px;
}
.panel-options {
    width: 70%;
}


/* Hero section */
.hero-section {
    background-image: url("icons/Heroimage.jpg");
    height: 350px;
    left: -9999px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.hero-message {
    background-color: #f5f6f6;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 100%;
    text-wrap: nowrap;
    margin: 20px 10px 10px;
    padding: 0 10px;
}

.hero-message a {
    color: #007185;
}

/* Shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #e3e6e6;
    justify-content: space-evenly;
    margin: 0 10px;
}

.box {
    height: 385px;
    width: 23%;
    border: 2px solid transparent;
    background-color: #FFFFFF;
    border: none;
    padding: 20px 0 15px;
    margin-top: 15px;
}

.box-content h2{
    padding: 0 20px;
}

.box-content a {
    color: #007185;
    padding-left: 20px;
}
.box-content a:hover {
    text-decoration: underline;
    color: #C7511F;
}

.box-img {
    width: 90%em;
    height: 303px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 20px 44px 20px;
}


/* Sign-in styling */
.sign-in {
    background-color: #e3e6e6;
    height: 165px;
    min-width: 1560px;
    padding-top: 20px;
    font-size: 0.85rem;
    color: #000000;
}

.sign-in-content {
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 20px 0;
}
.sign-in-btn {
    min-width: inherit;
    height: 30px;
    display: flex;
    justify-content: center;
}
.signin {
    width: 230px;
    font-weight: 600;
    height: inherit;
    border-radius: 5px;
    background:  linear-gradient(#fe09,#febd68 );
    border: 1px solid #C7511F;
    text-shadow: 0 1px 0 #ffe093;;
    
}

.sign-in-content p {
    min-width: inherit;
    text-align: center;
    padding: 5px 0;
}

.sign-in-content a {
    color: #007185;
}
/* Footer styling */
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    padding: 15px 0px;
    font-weight: 300;
}

.foot-panel2 {
    background-color: #232F3E;
    display: flex;
    height: 500px;
    color: white;
    justify-content: space-evenly;
    align-content: flex-start;

}

.foot-panel2 p {
    font-size: 1rem;
    font-weight: 700;
    margin: 6px 0 14px;
}

ul {
    margin-top: 40px;   
}
.foot-panel2 a {
    font-size: 0.85rem;
    margin-bottom: 10px;
    display: block;
    color: #DDDDDD;
}


.foot-panel3 {
    height: 90px;
    min-width: 1000px;
    background-color: #232F3E;
    border-top: 0.5px solid #DDDDDD;

}

.foot-panel3-content {
    margin: 10px 260px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
}

.foot-logo {
    background-image: url("icons/Amazon-footer.png");
    width: 100px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

.country {
    align-self: center;
    color: #232F3E;
}

.currency {
    height: 35px;
    width: 150px;
    justify-self: center;
}

.foot-panel3-content i {
    width: 15px;
    height: 15px;
}


.foot-panel4 {
    background-color: #131A22;
    height: 80px;
    min-width: 1500px;
    color: white;
    text-align: center;
}

.foot-panel4-content {
    padding: 10px 0 30px;
    font-size: 0.75rem;
}

.foot-panel4-content a {
    text-decoration: none;
    padding: 0 8px;

}

.copyright {
    padding-top: 5px;
    display: block;
    padding: 0 8px;
}